<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="about-toolbar">
      <button routerLink="/home"><ion-icon name="arrow-back-outline" size="large"></ion-icon></button>
      <ion-title>Sobre mim</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="about-text">
    <!--Nome: Davi.... Idade etc-->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit corporis harum ratione architecto, rerum veniam maiores maxime dolores omnis incidunt quos nisi consequatur sit molestias non expedita laudantium aut vitae!</p>
  </div>
</ion-content>
