.about-toolbar {
  display: flex;
  padding: 0 3%;
}

button {
  background-color: transparent;
}

ion-icon {
  color: currentColor;
}

.about-content {
  padding: 2%;
}

ion-card {
  padding: 5%;
}

ion-card-subtitle {
  margin: 1% 0;
}

.about-text {
  padding: 3% 10%;
}
