<ion-header>
  <ion-toolbar>
    <div class="home-toolbar">
      <img src="assets/unisuam.png" alt="logo unisuam" class="logo-suam">
      <ion-title class="ion-text-center">Carteira Acadêmica</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-content">
    <ion-card class="card">
      <img src="assets/PXL_20260323_110408280.jpeg" alt="foto">
      <ion-card-header>
        <ion-title color="dark">Davi Ferreira Barros da Silva</ion-title>
        <ion-card-subtitle class="ion-text-center">ADS0301M | Bonsucesso | Manhã</ion-card-subtitle>
      </ion-card-header>
      <ion-button color="warning" routerLink="/about">Ver mais...</ion-button>
    </ion-card>
  </div>
</ion-content>
